@import './base/mixin', './base/variables', './base/functions';
// text
@include fontFamily('Poppins', '../assets/fonts/Poppins-Regular.ttf');
// heading
@include fontFamily('ElMessiri', '../assets/fonts/ElMessiri-Medium.ttf');

body {
    font-family: 'Poppins';
}
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'ElMessiri';
}

/* transparent background on autocomplete inputs*/
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    background-color: transparent;
    transition: background-color 5000s ease-in-out 0s;
}

.container {
    @media (max-width: 800px) {
        width: 90% !important;
    }
}
