%after {
    content: "";
    position: absolute;
    width: 100%;
    height: 1px;
    background-color: rgb(192, 192, 192);
    left: 0px;
}

.products-list {
    height: calc(100vh - 164px);
    .products {
        .product {
            width: 48%;
            .card-top {
                height: 210px;
            }
        }
    }
    #map {
        .leaflet-container {
            width: 100%;
            height: 100%;
        }
    }
}

.heart-wrapper {
    width: 30px;
    height: 30px;
    position: absolute;
    top: 15px;
    right: 15px;
    z-index: 15;
    .heart-icon {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}

.carousel-list {
    .flex-col {
        padding: 0px;
        position: relative;
        gap: 0.75rem;
    }
    .change-carousel {
        .scroll-smooth {
            border-radius: 0px;
            border-top-left-radius: 0.5rem; 
            border-top-right-radius: 0.5rem;
        }
    }
}

.property-button:active {
    transform: scale(0.98);
}