@tailwind base;
@tailwind components;
@tailwind utilities;
#root > nav > div > div > ul {
    align-items: center !important;
}
#root > nav > div > div > ul a {
    white-space: nowrap;
}
.cards-cont img {
    min-height: 250px !important;
    height: 250px !important;
    max-height: 250px !important;
}
#overview > div > .leaflet-container {
    z-index: 0 !important;
}
@media (max-width: 786px) {
    #root > nav > div > div > ul {
        align-items: flex-start !important;
    }
    #root > nav > div > div > ul a {
        width: 100%;
        padding: 10px 0;
    }
}
